In [31]:
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler, StandardScaler, RobustScaler
import numpy as np
import pandas as pd

In [32]:
tens = np.linspace(1, 10, 10)
hundreds = np.linspace(1, 100, 10)
thousands = np.linspace(1, 1000, 10)
neg_thousands = np.linspace(-1000, 1000, 10)
outliers = neg_thousands.copy()
outliers[0] = -3212321
outliers[9] = 3212321

data = pd.DataFrame({
    'tens': tens,
    'hundreds': hundreds,
    'thousands': thousands,
    'neg_thousands': neg_thousands,
    'outliers': outliers
})
columns = data.columns
data.head(10)

   hundreds  neg_thousands      outliers  tens  thousands
0       1.0   -1000.000000 -3.212321e+06   1.0        1.0
1      12.0    -777.777778 -7.777778e+02   2.0      112.0
2      23.0    -555.555556 -5.555556e+02   3.0      223.0
3      34.0    -333.333333 -3.333333e+02   4.0      334.0
4      45.0    -111.111111 -1.111111e+02   5.0      445.0
5      56.0     111.111111  1.111111e+02   6.0      556.0
6      67.0     333.333333  3.333333e+02   7.0      667.0
7      78.0     555.555556  5.555556e+02   8.0      778.0
8      89.0     777.777778  7.777778e+02   9.0      889.0
9     100.0    1000.000000  3.212321e+06  10.0     1000.0

In [33]:
minmax = MinMaxScaler()
minmax.fit(data)
data_minmax_scaled = minmax.transform(data)
pd.DataFrame(data_minmax_scaled, columns=columns)

   hundreds  neg_thousands  outliers      tens  thousands
0  0.000000       0.000000  0.000000  0.000000   0.000000
1  0.111111       0.111111  0.499879  0.111111   0.111111
2  0.222222       0.222222  0.499914  0.222222   0.222222
3  0.333333       0.333333  0.499948  0.333333   0.333333
4  0.444444       0.444444  0.499983  0.444444   0.444444
5  0.555556       0.555556  0.500017  0.555556   0.555556
6  0.666667       0.666667  0.500052  0.666667   0.666667
7  0.777778       0.777778  0.500086  0.777778   0.777778
8  0.888889       0.888889  0.500121  0.888889   0.888889
9  1.000000       1.000000  1.000000  1.000000   1.000000

In [34]:
maxabs = MaxAbsScaler()
maxabs.fit(data)
data_maxabs_scaled = maxabs.transform(data)
pd.DataFrame(data_maxabs_scaled, columns=columns)

   hundreds  neg_thousands  outliers  tens  thousands
0      0.01      -1.000000 -1.000000   0.1      0.001
1      0.12      -0.777778 -0.000242   0.2      0.112
2      0.23      -0.555556 -0.000173   0.3      0.223
3      0.34      -0.333333 -0.000104   0.4      0.334
4      0.45      -0.111111 -0.000035   0.5      0.445
5      0.56       0.111111  0.000035   0.6      0.556
6      0.67       0.333333  0.000104   0.7      0.667
7      0.78       0.555556  0.000173   0.8      0.778
8      0.89       0.777778  0.000242   0.9      0.889
9      1.00       1.000000  1.000000   1.0      1.000

In [38]:
robust = RobustScaler()
robust.fit(data)
data_robust_scaled = robust.transform(data)
pd.DataFrame(data_robust_scaled, columns=columns)

   hundreds  neg_thousands     outliers      tens  thousands
0 -1.000000      -1.000000 -3212.321000 -1.000000  -1.000000
1 -0.777778      -0.777778    -0.777778 -0.777778  -0.777778
2 -0.555556      -0.555556    -0.555556 -0.555556  -0.555556
3 -0.333333      -0.333333    -0.333333 -0.333333  -0.333333
4 -0.111111      -0.111111    -0.111111 -0.111111  -0.111111
5  0.111111       0.111111     0.111111  0.111111   0.111111
6  0.333333       0.333333     0.333333  0.333333   0.333333
7  0.555556       0.555556     0.555556  0.555556   0.555556
8  0.777778       0.777778     0.777778  0.777778   0.777778
9  1.000000       1.000000  3212.321000  1.000000   1.000000

In [39]:
standard = StandardScaler()
standard.fit(data)
data_standard_scaled = standard.transform(data)
pd.DataFrame(data_standard_scaled, columns=columns)

   hundreds  neg_thousands  outliers      tens  thousands
0 -1.566699      -1.566699 -2.236068 -1.566699  -1.566699
1 -1.218544      -1.218544 -0.000541 -1.218544  -1.218544
2 -0.870388      -0.870388 -0.000387 -0.870388  -0.870388
3 -0.522233      -0.522233 -0.000232 -0.522233  -0.522233
4 -0.174078      -0.174078 -0.000077 -0.174078  -0.174078
5  0.174078       0.174078  0.000077  0.174078   0.174078
6  0.522233       0.522233  0.000232  0.522233   0.522233
7  0.870388       0.870388  0.000387  0.870388   0.870388
8  1.218544       1.218544  0.000541  1.218544   1.218544
9  1.566699       1.566699  2.236068  1.566699   1.566699